 {% extends 'base.html' %}
{% block title %} News Archieve {% endblock %}

{% block body %}

<main class="form-signin text-left w-50 mx-auto">
  <h1>User registration</h1>
  <ul style="list-style: none;"  class="messages list-group">
    {% for msg in messages %}
    <li>
      <div class="alert alert-{{msg.level_tag}}" role="alert">
        {{msg.message}}
      </div>
    </li>
    {% endfor %}
  </ul>
  <form action="{% url 'addUser' %}" method="POST">
    {% csrf_token %}
    {{form.as_p }}
    <button type="submit" value="Register" class="btn btn-primary w-100">Send</button>
  </form>
</main>

{% endblock %}